# **Python Data Types**

* Numeric - int, float, complex
* Sequence Type - string, list, tuple
* Mapping Type - dict
* Boolean - bool
* Set Type - set, frozenset
* Binary Types - bytes, bytearray, memoryview

**1. Numeric Data Types in Python**

In [ ]:
a = 5
print(type(a))

b=0.5
print(type(b))

c = 2+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

**2. Sequence Data Types in Python**

In [ ]:
s = 'welcome to the python world'
print(s)

print(type(s))

print(s[1])
print(s[3])
print(s[4])

welcome to the python world
<class 'str'>
e
c
o

In [ ]:
a =[]

a=[1, 2, 3, 4, 5]
print(a)

b=['happy','birth', 'day', 6, 7]
print(b)

[1, 2, 3, 4, 5]
['happy', 'birth', 'day', 6, 7]

In [ ]:
a = ['happy', 'birth', 'day']
print("Accessing element from list : ")
print(a[0])
print(a[2])

print("Accessing element using negative indexing : ")
print(a[-1])
print(a[-3])

Accessing element from list :
happy
day
Accessing element using negative indexing :
day
happy

Tuple Data Type

In [ ]:
tup1 = ()

tup2 = ("priya", "singh")
print("\nTuple with the use of string : ", tup2)

Tuple with the use of string :  ('priya', 'singh')

In [ ]:
tup1 = tuple([1, 2, 3, 4, 5])

print(tup1[0])
print(tup1[-1])
print(tup1[-3])

1
5
3

**3. Boolean Data Type in Python**

In [ ]:
print(type(True))
print(type(False))
print(type(true))

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

**4. Set Data Type in Python**

In [ ]:
s1 = set()
s1 = set("priya")
print("Set with the use of String: ", s1)

s2= set(['happy', 'birth', 'day'])
print("Set with the use of List: ", s2)

Set with the use of String:  {'p', 'r', 'a', 'i', 'y'}
Set with the use of List:  {'happy', 'birth', 'day'}

In [ ]:
set1 = set(['happy', 'birth', 'day'])
print(set1)

for i in set1:
    print(i, end=" ")

print("day" in set1)

{'happy', 'birth', 'day'}
happy birth day True

**5. Dictionary Data Type**

In [ ]:
d = {}

d= {1:"Priya", 2:"Sneha", 3:"Ashu"}
print(d)

d1 = dict({1:"Priya", 2:"Sneha", 3:"Ashu"})
print(d1)

{1: 'Priya', 2: 'Sneha', 3: 'Ashu'}
{1: 'Priya', 2: 'Sneha', 3: 'Ashu'}

In [ ]:
d= {"name":"Priya", 2:"Sneha", 3:"Ashu"}
print(d['name'])

print(d.get(3))

Priya
Ashu