# **Taking input in Python**

In [3]:
name = input("Enter your name:")
print("hii ", name, "welcome back !!")

Enter your name:priya
hii  priya welcome back !!

# **Printing Output using print() in Python**

In [4]:
print("Hello, World!")

Hello, World!

**Printing Variables**

In [7]:
s = "Priya"
print (s)

a = 1
name = "priya"
age = 20
city = "satna"

print(a,". ", name,age, city)

Priya
1 .  priya 20 satna

**Take Multiple Input in Python**

In [8]:
x,y = input("Enter two values : ").split()
print("X is : ", x)
print("Y is : ", y)

Enter two values : 20 30
X is :  20
Y is :  30

**Print Names in Python**

In [9]:
color = input("Color of rose is : ")
print(color)

Color of rose is : red
red

**Print Numbers in Python**

In [10]:
n = int(input("How many roses do you want ? : "))
print(n)

How many roses do you want ? : 999
999

In [11]:
price = float(input("Price of each rose?: "))
print(price)

Price of each rose?: 20.5
20.5

**Find DataType of Input in Python**

In [12]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

# **Output Formatting**

**Example 1: Using Format()**

In [13]:
amount = 150.5
print("Amount: ${:.2f}".format(amount))

Amount: $150.50

**Example 2: Using sep and end parameter**

In [14]:
# end Parameter with '@'
print("python", end='@')
print("is a programming language")

python@is a programming language

In [15]:
# Seprating with Comma
print('V','I','T', sep='')

VIT

In [16]:
# for formatting a date
print('02','08','2025', sep='-')

02-08-2025

**Example 3: Using f-string**

In [17]:
name = 'priya'
age = 20
print(f"Hello, my name is {name} and I'm {age} year old")

Hello, my name is priya and I'm 20 year old

**Example 4: Using % Operator**

In [18]:
n = int(input("Enter a number : "))
add = n +5
print("The sum is %d" %add)

Enter a number : 8
The sum is 13