# **Loops in Python**

# **For Loop in Python :**

For loops is used to iterate over a sequence such as a list, tuple, string or range. It allow to execute a block of code repeatedly, once for each item in the sequence.

In [ ]:
n=4
for i in range(0,n):
  print(i)

0
1
2
3

In [ ]:
li = ["Priya", "Sneha", "Priha"]
for i in li:
  print(i)

Priya
Sneha
Priha

In [ ]:
tup = ("Priya", "Sneha", "Priha")
for i in tup:
  print(i)

Priya
Sneha
Priha

In [ ]:
s = "Priya"
for i in s:
  print(i)

P
r
i
y
a

In [ ]:
d = dict({'a' : 123, 'b':345})
for i in d:
  print("%s %d" %(i, d[i]))

a 123
b 345

In [ ]:
set1 = {1, 2, 3, 4, 5, 6, 7}
for i in set1:
  print(i)

1
2
3
4
5
6
7

Iterating by the Index of Sequences

In [ ]:
li = ["Priya", "Sneha", "Priha"]
for index in range(len(li)):
  print(li[index])

Priya
Sneha
Priha

Using else Statement with for Loop in Python

In [ ]:
li = ["Priya", "Sneha", "Priha"]
for index in range(len(li)):
  print(li[index])
else:
  print("Inside else block")

Priya
Sneha
Priha
Inside else block

# **While Loop in Python**

a while loop is used to execute a block of statements repeatedly until a given condition is satisfied

In [3]:
cnt =0
while(cnt<3):
    cnt = cnt + 1
    print("Hello loop")

Hello loop
Hello loop
Hello loop

Using else statement with While Loop

In [4]:
cnt =0
while(cnt<5):
  cnt = cnt +1
  print("Hello while loop")
else:
  print("Inside else block")

Hello while loop
Hello while loop
Hello while loop
Hello while loop
Hello while loop
Inside else block

Nested Loops in Python

In [5]:
from __future__ import print_function
for i in range(1,5):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4

# **Loop Control Statements**

**Continue Statement**

In [6]:
for l in "priyasingh":
  if l=='i' or l=='s':
    continue
  print('Current Letter :', l)

Current Letter : p
Current Letter : r
Current Letter : y
Current Letter : a
Current Letter : n
Current Letter : g
Current Letter : h

**Break Statement**

In [9]:
for l in 'priyasingh':
  if l=='i' or l=='s':
    break
print('Current Letter :', l)

Current Letter : i

**Pass Statement**

In [10]:
for letter in 'priyasingh':
  pass
print('Last Letter :', letter)

Last Letter : h

In [11]:
fruits = ["apple", "orange", "kiwi"]

for fruit in fruits:

    print(fruit)

apple
orange
kiwi