# **Python Lambda Functions**

Python Lambda Functions are anonymous functions means that the function is without a name.

In [1]:
s1= "GeeksforGeeks"

s2 = lambda func: func.upper()
print(s2(s1))

GEEKSFORGEEKS

**lambda with Condition Checking**

In [2]:
n = lambda x: "Positive" if x>0 else "Negative" if x<0 else "Zero"

print(n(5))
print(n(-3))
print(n(0))

Positive
Negative
Zero

**Difference Between lambda and def Keyword**

In [3]:
sq = lambda x: x**2
print (sq(3))

def sqdef(x):
  return x**2
print(sqdef(3))

9
9

**Lambda with List Comprehension**

In [4]:
li = [lambda arg = x: arg*10 for x in range(1,5)]
for i in li:
  print(i())

10
20
30
40

**Lambda with if-else**

In [5]:
check = lambda x: "Even" if x%2==0 else "Odd"

print(check(8))
print(check(7))

Even
Odd

**Lambda with Multiple Statements**

In [6]:
calc = lambda x, y:(x+y, x*y)

res = calc(3,4)
print(res)

(7, 12)

**Using lambda with filter()**

In [7]:
n = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x%2 ==0, n)
print(list(even))

[2, 4, 6]

**Using lambda with map()**

In [8]:
a = [1, 2, 3, 4, 5]
b = map(lambda x: x*2, a)
print(list(b))

[2, 4, 6, 8, 10]

**Using lambda with reduce()**

In [9]:
from functools import reduce

a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24