# **Python Lists**



*   List can contain duplicate items.
*   List in Python are Mutable. Hence, we can modify, replace or delete the items.
*   List are ordered. It maintain the order of elements based on how they are added.
*   Accessing items in List can be done directly using their position (index), starting from 0.

In [1]:
a=[10,20,'GFG', 40, True]
print(a)

print(a[0])
print(a[3])

print(type(a[2]))
print(type(a[4]))

[10, 20, 'GFG', 40, True]
10
40
<class 'str'>
<class 'bool'>

**Creating a List**

In [2]:
# List of integers
a = [1, 2, 3, 4, 5]

# List of strings
b = ['apple', 'banana', 'cherry']

# Mixed data types
c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

**Using list() Constructor**

In [3]:
a = list((1,2,3,'apple',4.5))
print(a)

[1, 2, 3, 'apple', 4.5]

**Creating List with Repeated Elements**

In [4]:
a = [2]*5
b=[0]*7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

**Accessing List Elements**

In [5]:
a = [10, 20, 30, 40, 50]

print(a[0])

print(a[-1])

10
50

**Adding Elements into List**
* append(): Adds an element at the end of the list.
* extend(): Adds multiple elements to the end of the list.
* insert(): Adds an element at a specific position.

In [6]:
a = []
a.append(10)
print("After append(10):", a)

a.insert(0, 5)
print("After insert(0, 5):", a)

a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

**Updating Elements into List**

In [7]:
a = [10, 20, 30, 40, 50]

a[1] =25
print(a)

[10, 25, 30, 40, 50]

**Removing Elements from List**

* remove(): Removes the first occurrence of an element.
* pop(): Removes the element at a specific index or the last element if no index is specified.
* del statement: Deletes an element at a specified index.

In [8]:
a = [10, 20, 30, 40, 50]

a.remove(30)
print("After remove(30):", a)

popped_val = a.pop(1)
print("Popped element:", popped_val)
print("After pop(1):", a)

del a[0]
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

**Iterating Over Lists**

Using for Loop

In [9]:
a = ['apple', 'banana', 'cherry']
for item in a:
  print(item)

apple
banana
cherry

**Nested Lists in Python**

In [10]:
matrix =[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

**List Comprehension in Python**

In [11]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]