# **Python Operators**

# Types of Operators in Python

**1. Arithmetic Operators in Python**

In [2]:
a = 15
b = 20

# Addition
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

# Division
print("Division:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 35
Subtraction: -5
Multiplication: 300
Division: 0.75
Floor Division: 0
Modulus: 15
Exponentiation: 332525673007965087890625

**2. Comparison of Python Operators**

In [3]:
a = 13
b = 33

print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

**3. Logical Operators in Python**

In [4]:
a = True
b= False

print(a and b)
print(a or b)
print(not a)

False
True
False

**4. Bitwise Operators in Python**

In [5]:
a = 10
b = 4

print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

**5. Assignment Operators in Python**

In [6]:
a = 10

b = a
print(b)

b+=a
print(b)

b -=a
print(b)

b*=a
print(b)

b<<=a
print(b)

10
20
10
100
102400

**6. Identity Operators in Python**

In [7]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

**7. Membership Operators in Python**

In [9]:
x = 24
y = 20

list = [10, 20, 30, 40, 50]

if(x not in list):
  print("x is not present in given list")
else:
  print("x is present in given list")

if(y not in list):
  print("y is not present in given list")
else:
  print("y is present in given list")

x is not present in given list
y is present in given list

**8. Ternary Operator in Python**

In [10]:
a, b = 10, 20
min = a if a<b else b

print(min)

10

# **Precedence and Associativity of Operators in Python**

**Operator Precedence in Python**

In [11]:
exp = 10+20*30
print(exp)

610

In [12]:
name = 'priya'
age = 1

if name == 'priya' or name=='sita' and age>=2:
  print("Hello welcome!!")
else:
  print("Goodbye!!")

Hello welcome!!

**Operator Associativity in Python**

In [13]:
print(100 / 10 * 10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

100.0
6
0
512