# **Python Variables**

( variables are used to store data )

**Example:**

In [1]:
x = 5            # Variable 'x' stores the integer value 5
name = "Priya"   # Variable 'name' stores the string "Priya"

print(x)
print(name)

5
Priya

**Rules for Naming Variables :**


*   Variable names can only contain letters, digits and underscores (_)
*   A variable name cannot start with a digit.
*   Variable names are case-sensitive (myVar and myvar are different).
*   Avoid using Python keywords (e.g., if, else, for) as variable names.

**Valid Example:**

In [2]:
age = 21
_colour = "red"
total_Score = 90

print(age, _colour, total_Score)

21 red 90

**Invalid Example:**

In [3]:
1name = "error"    # Starts with a digit
class = 10         # 'class' is a reserved keyword
user-name = "user"   # Contains a hyphen

SyntaxError: invalid decimal literal (ipython-input-4013414472.py, line 1)

# **Assigning Values to Variables**

Basic Assignment

In [4]:
x = 12
y = 3.24
z = "Priya"

Dynamic Typing

In [5]:
x =10
x = "is a string"

Multiple Assignments

In [6]:
a = b= c = 25
print(a, b, c)

25 25 25

In [7]:
a, b, c = 1, 2.5, "Hi"
print(a, b, c)

1 2.5 Hi

# **Type Casting a Variable**

(Type casting refers to the process of converting the value of one data type into another.)

**Basic Casting Functions**


*   **int()** - Converts compatible values to an integer.
*   **float()** - Transforms values into floating-point numbers.
*   **str()** - Converts any data type into a string.

**Examples**

In [8]:
s = "10"
n = int(s)
print(n)

10

In [9]:
cnt = 5
f = float(cnt)
print(f)

5.0

In [10]:
age = 20
s = str(age)
print(s)

20

# **Getting the Type of Variable**

Example using type()

In [13]:
n = 42
f =3.14
s = "Hello Python"
li = [1,2,3]
d= {'key' : 'value'}
b = True

print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(d))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

# **Object Reference in Python**

In [14]:
x = 5  #assign a variable x to value 5.
y = x  #assign another variable y to the variable x.

#Now, if we write
x = 'Geeks'
#If we now assign a new value to y:
y = "Computer"

# Python creates yet another object for "Computer" and updates y to reference it.
# The original object 5 no longer has any references and becomes eligible for garbage collection.

# **Delete a Variable Using del Keyword**

In [18]:
x = 10
print(x)
del x
print(x)

10

NameError: name 'x' is not defined

# **Practical Examples**

1. Swapping Two Variables

In [19]:
a, b = 1, 2
a, b = b, a
print(a, b)

2 1

2. Counting Characters in a String

In [20]:
p = "python"
length = len(p)
print("Length of p is : ", length)

Length of p is :  6

# **Scope of a Variable**

**1. Local Variables:**
*   Defined within a function or block, accessible only inside that scope.
*   Destroyed once the function/block ends.
*   Temporary, used for short-term data.

**2. Global Variables:**
*   Defined outside functions, accessible throughout the program.
*   To modify within a function, use the global keyword.
*   Persist in memory for the programâ€™s duration, useful for shared data.

# **Python Keywords**

Keywords in Python are reserved words that have special meanings and serve specific purposes in the language syntax. Python keywords cannot be used as the names of variables, functions, and classes or any other identifier.

**Getting List of all Python keywords**

In [22]:
import keyword

print("The list of keyword is : ")
print(keyword.kwlist)

The list of keyword is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']